body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserret", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%; 
	transition: background 0.6s;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}

h1{
	text-align: center;
	color:white;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	font-size: 20px;

}

.selected{
	color: white;
	background: steelblue;
}

#colordisp{
	font-size: 200%;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

#message{
	display: inline-block;
	width: 20%;
}

button:hover{
	color: white;
	background: steelblue;
}
